* {
  margin: 0;
  padding: 0;
}
.page {
  background-color: white;
  width: 50rem;
  height: 64.7rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  font-family: serif;
  @apply text-xs;
}

.header {
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 25%;
}
.header h1 {
  margin: 0;
}

.body {
  max-width: 100%;
  text-align: start;
  display: grid;

  margin-top: 0;
  text-align: start;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}
.body p {
  margin-top: 1rem;
}

h3 {
  font-size: medium;
}
table {
  table-layout: fixed;
  width: max-content;
  /* margin-left: 2rem; */
  border-collapse: collapse;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  text-align: center;
}

table h3,
table p {
  padding: 1%;
  margin-inline: 1rem;
}

th,
td {
  border: 1px solid black;
  margin: 0;
}
th {
  background-color: lightgray;
  margin: 2%;
}
.no_border {
  border: none;
}

.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
h3 {
  margin: 0.3em;
}

.detail-table {
  margin-block: 3rem;
  width: 100%;
}

.nute-table {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nute-table table {
  width: 100%;
}
