@tailwind base;
@tailwind components;
@tailwind utilities;

/* set default colors */
@layer base {
  :root {
    --color-background: 210deg, 13%, 35%;
    --color-textColor: 36deg, 16%, 82%;
    --color-sidebar: 0deg, 0%, 14%;
  }
  /* light theme colors */
  @media (prefers-color-scheme: light) {
    :root {
      --color-background: 0deg, 0%, 100%;
      --color-textColor: 0deg, 0%, 14%;
      --color-sidebar: 38deg, 54%, 56%;
    }
  }
}

html {
  overflow-x: hidden;
  width: 100vw;
}

div::-webkit-scrollbar {
  width: 0.5em; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: var(--color-textColor); /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: var(--color-textColor); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid; /* creates padding around scroll thumb */
}
/* sets up page */
.main-div-style {
  max-height: 100%;
  @apply h-screen w-screen flex items-center justify-center font-serif text-textColor md:text-xl lg:text-2xl text-xs;
}

/* sets up box for individual components */
.component-div {
  @apply w-11/12 sm:w-9/12 flex flex-col items-center justify-center rounded-xl bg-sidebar px-8;
}

.input {
  @apply h-5 bg-background text-center text-[.5rem]  md:text-sm rounded-xl  border-2 border-solid border-textColor hover:bg-sidebar hover:border-background;
}

.btn {
  @apply bg-background rounded-2xl border-2 border-solid border-textColor  hover:bg-sidebar hover:border-background md:text-lg text-base px-2 py-1 disabled:bg-sidebar disabled:hover:border-textColor disabled:hover:text-sidebar disabled:cursor-not-allowed;
}

/* Extra calcs dropdown */
.screen-transition {
  @apply inline-block  whitespace-nowrap min-w-fit mx-2 px-4 py-2 text-sm bg-sidebar border-s-textColor border-2  opacity-0  rounded-lg group-hover:opacity-100 transition-opacity;
}

.logo-styles {
  @apply inline-block mx-1;
}

.logo-labels {
  @apply inline-block;
}

nav a.active {
  @apply bg-background rounded-xl p-2 hover:text-sidebar;
}

.active {
  @apply text-sidebar;
}

.link {
  @apply text-background underline hover:text-textColor hover:font-bold transition-all;
}

h2 {
  @apply px-[.125em] w-fit sm:text-[1em] md:text-[.9em] text-[.75em];
}

p {
  @apply sm:text-[1em] text-[.75rem];
}

.form-input {
  @apply bg-background text-[.5rem] md:text-sm rounded-xl border-2 border-solid border-textColor px-2 hover:bg-sidebar hover:border-background;
}

.bottom-bar {
  @apply w-screen fixed bottom-0 left-0 text-textColor;
}

.info_button {
  width: 100%;
  display: grid;
  place-items: center;
}

.info_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.extra_calc {
  position: relative;
}

.extra_links {
  position: absolute;
  min-width: max-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  display: none;
  flex-direction: column;
  padding-inline: 1em;
  height: fit-content;
  border-radius: 0.75em;
  font-size: 10px;
  margin-block: 1em;
  background-color: hsl(var(--color-sidebar));
  @apply md:text-[1em];
}
.extra_calc:hover .extra_links {
  display: flex;
  flex-direction: column;
}
